/venv/
/.idea
tests.ipynb
.ipynb_checkpoints/tests-checkpoint.ipynb
__pycache__/log_regression.cpython-38.pyc
*-checkpoint.ipynb
__pycache__/plot_measures.cpython-38.pyc
__pycache__/algorithms_comparison.cpython-38.pyc
